[user]
	name = Chris Williams
	email = chris@christopher-williams.net
[core]
	editor = subl -w
	excludesfile = ~/.dotfiles/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
    ui = always
[github]
    user = Nitron
[credential]
    helper = osxkeychain
[include]
    path = ~/.localrc/.gitconfig
